TYPEORM_URL=postgres://default:password@localhost:5432/opti_saas_db

NODE_ENV=local
PORT=3001

# file storage (s3-compatible) config
S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_TMP_CLEANUP_INTERVAL_HOURS=24
S3_TMP_MAX_AGE_HOURS=24


# bo auth config
BO_JWT_AUTH_SECRET=BO_SECRET
BO_ACCESS_TOKEN_EXPIRES_IN=1d

# client auth config
JWT_AUTH_SECRET=CLIENT_SECRET
ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_SECRET=CLIENT_REFRESH_SECRET
REFRESH_TOKEN_EXPIRES_IN=2d