version: '3'

volumes:
  dbdata:
    driver: local

services:
  postgres:
    build: ./Dockerfile.dev
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=opti_saas_db
      - POSTGRES_USER=default
      - POSTGRES_PASSWORD=password
      - TZ=UTC
      - PGTZ=UTC
    volumes:
      - dbdata:/var/lib/postgresql/data
